---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Новости';
const pageTitle = 'Новости';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><ul>
        <li>Конкурс среди СМИ в Жалалабаде, <a href="mediacontest_ru.html">далее...</a></li>
        <br>
        <li>Пресс-конференция &quot;Воспитание культуры прав человека в КР&quot;, <a href="pressconf_ru.html">далее...</a></li>
        <br>
        <li><a href="../books/hr_pbda.pdf">PBD Association - HR barbeque</a></li>
        <br>
        <li>7, 8 апреля 2008 года в Жалалабаде пройдёт ТОТ по правам человека, <a href="totjal_ru.html">далее...</a></li>
        <br>
        <li>27, 28 марта 2008 года и Бишкеке пройдёт ТОТ по правам человека, <a href="totbish_ru.html">далее...</a></li>
        <br>
        <li>14 февраля 2008 г. в Бишкеке пройдет Национальная конференция по социальному партнёрству, <a href="natconf_ru.html">далее…</a></li><br>
        <li>В городах Кант и Жалалабат в феврале 2008 года были проведены круглые столы, <a href="roundtab_ru.html">далее...</a></li>
        </ul>
        </p>
</PageLayout>
