---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Общественное объединение &quot;Каунтерпарт-Шериктеш&quot;';
const pageTitle = 'Общественное объединение &quot;Каунтерпарт-Шериктеш&quot;';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Конкурс среди СМИ в Жалалабаде</strong></p>
          <p>С июля по август месяц   Ассоциация &quot;Женщины – Лидеры Жалал-Абада&quot; проводила конкурс среди СМИ Жалалабатской области, по запланированной программе эдвокаси-кампании &quot;Воспитание культуры прав человека в КР&quot;. О проведении конкурса было объявлено на <a href="pressconf_ru.html">пресс–конференции</a>, а также через областной Центр СМИ и через газеты.</p>
          <p><strong>Цель проведения конкурса: Привлечение внимания общественности к проблеме торговли людьми, выявление фактов нарушения законов.</strong></p>
          <p>За время конкурса было много заинтересованных СМИ и жителей города Жалала-Абад, которые звонили, приходили в офис, узнавали о центре, о примерах нарушения прав женщин с целью участвовать в конкурсе.</p>
          <p>В результате проведённого конкурса мы получили статьи по проблеме торговли людьми на кыргызском, узбекском и русском языках, принимали участие областные газеты: &quot;Акыйкат&quot;, &quot;Жалалабад Тонги&quot;, &quot;Бесплатная газета&quot;, ТВ КТР (сделало сюжет об информационной встрече), ЭЛТР (2 ток-шоу), АКИpress.</p>
          <p>2 сентября АЖЛЖ подвела итоги конкурса, на мероприятии по вручению призов участвовали кроме СМИ–участников, партнерские НПО, Центр СМИ, представители мэрии города Жалалабат.</p>
          <p>2000 сомов и памятный сувенир за занятое первое место получила корреспондент АКИpress и журналистка республиканской газеты &quot;Жаны кылым&quot; Жаныбаева Анархан. Она представила комиссии 3 статьи и короткую статью, написанную для AKИpress.</p>
          <p>1000 сом и памятный подарок за занятое 2 место получила журналистка Мамитова Рано – представитель областной газеты &quot;Жалалабат Тонги&quot;. Она представила нам 3 большие статьи на узбекском языке.</p>
          <p>По 500 сомов и памятные подарки получили за 3 место: Постельняк В.А. &quot;Бесплатная Газета&quot; и Мурзараимова Г. &quot;Акыйкат&quot;.</p>
</PageLayout>
