---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Общественное объединение &quot;Каунтерпарт-Шериктеш&quot;';
const pageTitle = 'Общественное объединение &quot;Каунтерпарт-Шериктеш&quot;';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>7, 8 марта 2008 года ТОТ по правам человека
        </strong></p>
          <p>Специальный тренинг для тренеров  по правам человека будет проведён Общественным объединением "Каунтерпарт-Шериктеш" в Жалалабаде.</p>
          <p>Курс обучения проводится в рамках реализуемого ОО "Каунтерпарт-Шериктеш" проекта, который был одобрен и поддержан Европейской Комиссией в Кыргызской Республике по направлению "Воспитание культуры прав человека в Кыргызстане".</p>
          <p>"<strong>Основная цель</strong> – это расширить и углубить знания участников в области прав человека, включая международные конвенции по правам человека и национальное законодательство по данному вопросу, развить их навыки, рассказать о новых методиках, о процедуре проведения мониторинга прав человека или конкретно, отдельно взятых тематик, отдельно взятых прав".</p>
          <p><strong>Тренинг предназначен для:</strong> представителей организаций гражданского общества, работающих в сфере продвижения основополагающих свобод и прав человека.</p>
          <p><strong>Тренер:</strong> Хамзаева Алтынай – эксперт-практик,  кандидат юридических наук, заведующая кафедрой уголовного права и криминалистики Кыргызско-Российского Славянского Университета.</p>
          <p><strong>Цель тренинга:</strong> формирование и развитие умений и навыков проведения тренингов по правам человека.</p>
          <p><strong>Условия участия:</strong> Желающим пройти тренинг необходимо прислать заявку в ОО "Каунтерпарт Шериктеш" по электронной почте или по факсу, с обоснованием необходимости прохождения этого тренинга:<br>
e-mail: <a href="mailto:office@sheriktesh.org.kg">office@sheriktesh.org.kg</a><br>  
fax : (+996 312) 62-08-30</p>
          <p><strong>Предварительная регистрация обязательна!</strong></p>
          <p>Тренинг проводится бесплатно. По завершению тренинга выдаётся сертификат об участии.</p>
</PageLayout>
