---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Aga Khan Development Network';
const pageTitle = 'Aga Khan Development Network';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The Aga Khan Development Network (AKDN) is a group of development agencies with mandates ranging from health and education to architecture, culture, microfinance, disaster reduction, rural development, private sector enterprise development and historic cities restoration.</p>
<p>AKDN focuses its efforts on health, education, culture, rural development, institutional development and economic development stimulation. It specializes in improving living conditions and opportunities for the poor, without distinction of religion, origin or gender.</p>
<p>For more information, please visit the <a href="http://www.akdn.org/" target="_blank">official AKDN website</a>.</p>
</PageLayout>
