---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'European Commission';
const pageTitle = 'European Commission';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>European Commission Delegation in the Kyrgyz Republic</strong></p>
<p>The European Union (EU) is represented in the Kyrgyz Republic by the Regional Delegation of the European Commission, headed by a Chargé d'Affaires, with the Head of Delegation in Almaty accredited simultaneously to the Republic of Kazakhstan, the Kyrgyz Republic and the Republic of Tajikistan.</p>
<p>The EU has been assisting the Kyrgyz Republic in political and economic reforms since independence in 1991. The EU and the Kyrgyz Republic share mutual interest in strengthening bilateral relations. Since 1999, the legal basis for bilateral relations between the EU and the Kyrgyz Republic has been the Partnership and Cooperation Agreement (PCA). This document is a bilateral agreement reflecting the full spectrum of relations between the European Community and the Kyrgyz Republic, including political and economic cooperation. The objective of the PCA is to assist the Kyrgyz Republic in its transition to a market economy and to establish closer relations with European countries.</p>
<p>For more information, please visit the <a href="http://ec.europa.eu/" target="_blank">official European Commission website</a>.</p>
</PageLayout>
