---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'History';
const pageTitle = 'History';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>History:</strong></p>
          <p>From the moment of its foundation in 2002, Public Association &quot;Counterpart-Sheriktesh&quot; started developing partner relations with a number of not-for-profit organizations and state bodies. As a result the activity of PA &quot;Counterpart-Sheriktesh&quot; was undertaken in a number of strategically important ways on the national level. Thus, PA &quot;Counterpart-Sheriktesh&quot; staff developed two sections of The National Strategy of Poverty Reduction of The Kyrgyz Republic. These sections are devoted to procedures of wide public participation and the role of not-for-profit organizations in the process of implementation of The National Strategy of Poverty Reduction of Kyrgyz Republic, thereby the fundamentals of joint participation of not-for-profit organizations and state bodies in its implementation were laid.</p>
          <p>PA &quot;Counterpart-Sheriktesh&quot; has participated in discussions of the constitutional reform: PA &quot;Counterpart-Sheriktesh&quot;, Association of CSSC, and Association of Lawyers of Kyrgyzstan conducted round table discussions and a conference to discuss changes and amendments to The Constitution of the KR, within the framework of Soros-Kyrgyzstan Foundation Project. As a result of developing contacts with such organizations like Asian Development Bank, World Bank Institute, OSCE, and United States Department of Agriculture six projects were implemented, aimed at capacity building of not-for-profit organizations, including those in rural areas.</p>
          <p>Public Association &quot;Counterpart-Sheriktesh&quot; has established Community Development and Investment Agency (ARIS) along with the Administration of the President of the Kyrgyz Republic and the Union of Legal Entities &quot;Association of Local Self-Governments of the Kyrgyz Republic&quot;. <br> 
          Also PA Counterpart Sheriktesh was one of the founders of the &quot;Association of Civil Society Support Centers&quot;. The key goal of the Association establishment was to assist civil society development in the Kyrgyz Republic through strengthening of organizational capacity and financial sustainability of civil society support centers, to promote their interests, to  form favourable environment so they could provide high quality services to civil society actors.</p>
</PageLayout>
