---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Structure';
const pageTitle = 'Structure';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Organizational Structure of PA &quot;Counterpart-Sheriktesh&quot;</strong></p>
        <p>&nbsp;</p>
        <p><img src="../foto/structure_en.gif" width="671" height="481"></p>
</PageLayout>
