---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Structure';
const pageTitle = 'Structure';
const description = 'Organizational structure of PA Counterpart-Sheriktesh';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle} description={description}>
  <p><strong>Organizational Structure of PA "Counterpart-Sheriktesh"</strong></p>
        <p>&nbsp;</p>
        <p><img src="/assets/foto/structure_en.gif" width="671" height="481"></p>
</PageLayout>
