---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Programs';
const pageTitle = 'Programs and Projects';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The Public Association «Counterpart-Sheriktesh» implements the following programs and projects:</p>

  <ul>
    <li><a href="/en/programs/prog1/">&laquo;Global Nutrition Program&raquo; Monitoring</a></li>
    <li><a href="/en/programs/prog2/">Delivery and Funding of Social Services</a></li>
    <li><a href="/en/programs/prog3/">Civic Participation in Discussion of Draft &laquo;Amendments and Additions to the Constitution of the KR&raquo;</a></li>
    <li><a href="/en/programs/prog4/">Community Empowerment Network</a></li>
    <li><a href="/en/programs/prog5/">Developing Sanitary and Hygiene in Rural Areas</a></li>
    <li><a href="/en/programs/prog6/">Ensuring Public Participation on Local Level</a></li>
    <li><a href="/en/programs/prog7/">Public Participation in Transboundary Water Management of Talas and Chu Rivers</a></li>
    <li><a href="/en/programs/prog8/">Stock Taking of Accountability Mechanisms in Eastern Europe and Central Asia</a></li>
    <li><a href="/en/programs/prog9/">Fostering Strong and Effective Collaboration Between Government and CSOs in Kyrgyzstan (1st stage)</a></li>
    <li><a href="/en/programs/prog10/">Local Integration Support Program</a></li>
    <li><a href="/en/programs/prog11/">Establishment of the Educational and Legal Centres in Chui and Jalalabat Oblasts of the KR</a></li>
    <li><a href="/en/programs/prog12/">Effective Collaboration Between Government and CSO in Kyrgyzstan (2nd Stage)</a></li>
    <li><a href="/en/programs/prog13/">Support to Refugee Women</a></li>
  </ul>
</PageLayout>
