---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = '&quot;Local Integration Support Program&quot;';
const pageTitle = '&quot;Local Integration Support Program&quot;';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>&quot;Support to Refugee Women&quot; and &quot;Local Integration Support Program&quot;</strong></p>
      <p>Two UNHCR sub-projects are to be implemented by Public Association Counterpart-Sheriktesh in 2007.
The project goal is to promote local integration of Tajik refugees and new citizens of Chui Oblast.
The sub-project objectives and activities are: 
<ol><li>To facilitate acquisition of citizenship of the Kyrgyz Republic by Tajik refugees of Chui Oblast</li>
<li>To identify needs of stateless persons of Chui Oblast</li>
<li>To establish and develop 10 self-help groups (SHG) among refugees and new citizens in 5 pilot villages of Chui Oblast</li></ol>
</p>
      <p><strong>Type of services provided:</strong></p>
      <ul>
      <li>To prepare passport applications by means of providing consultative support to refugee organizations</li>
      <li>To provide citizenship grants to the refugee NGOs</li>
<li>To conduct survey among migrants in one pilot rayon</li>
<li>To develop survey with recommendation for future programming to assist stateless persons</li>
<li>To Assist CSSC of Kara-Balta, NGO Sairon, Adab and YryshKenchi in developing 4 new self-help groups among women</li>
<li>To provide technical assistance to SHGs</li>
<li>To monitor credit programme to SHGs etc.</li>
      </ul>
</p>
</PageLayout>
