---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Ensuring Public Participation on Local Level';
const pageTitle = 'Ensuring Public Participation on Local Level';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The aim of the proposal is to institutionalize the process of participation of rural communities and citizens on a grass-root level in 2 pilot locations. The assistance will be designed to help rural communities and NGOs work through the specific problems that are impeding the participation process. Technical assistance was consisted of the interrelated components: 
<ol><li>Assisting rural communities and NGOs in developing representation and participation mechanisms, and</li><li>Building local advocacy and partnership capacities.</li></ol> The project has increased community and citizen involvement in analyzing major community issues, prioritizing them and identifying methods and resources to address the priority needs. In a broader sense, the project ultimately supports administrative reforms in Kyrgyzstan aimed at decentralization as it mean actual and direct participation of the citizens themselves in the governing process, and raising their role in addressing problems.</p>
      <p><strong>Type of services provided:</strong><ul>
      <li>Identification of specific priorities for community development by participatory community appraisal</li>
		<li>Capacity building and development of implementation tools: training/education</li>
        </ul>
</p>
</PageLayout>
