---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Human Rights Monitoring';
const pageTitle = 'Program 1: Human Rights Monitoring';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The human rights monitoring program is aimed at systematic observation, collection and analysis of information on the state of human rights compliance in the Kyrgyz Republic.</p>
  <p>The program conducts field research, interviews with victims, analysis of legislation and law enforcement practice.</p>
  <p>Monitoring results are published in the form of annual reports and used to advocate for improving the human rights situation.</p>
</PageLayout>
