---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Developing Sanitary and Hygiene in Rural Areas';
const pageTitle = 'Developing Sanitary and Hygiene in Rural Areas';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The project goal was to build capacity of pilot communities of Talas, Naryn, and Jalalabat provinces in water resource management, operation of sanitary facilities, and observation of sanitary and hygienic standards.<br>
In the framework of project a working plan the Participatory Community Appraisals focused on sanitary and hygiene issues, volunteers’ training, and supporting community structures to provide for sustainability of project outcomes and rehabilitation of social infrastructure were conducted in pilot villages. Public Association Counterpart-Sheriktesh provided technical and administrative support to the project.</p>
      <p><strong>Type of services provided:</strong><ul>
      <li>Identification of specific priorities for community development by participatory community appraisal</li>
		<li>Capacity building for planning of infrastructure projects</li>
		<li>Capacity building and development of implementation tools: training/education</li>
        </ul>
</p>
</PageLayout>
