---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Anti-Corruption Initiatives';
const pageTitle = 'Program 10: Anti-Corruption Initiatives';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Anti-corruption initiatives are aimed at combating corruption and increasing transparency of state bodies.</p>
  <p>The organization monitors corruption risks, conducts anti-corruption education, supports journalistic investigations.</p>
  <p>Projects are implemented to promote the principles of openness and accountability in public administration.</p>
</PageLayout>
