---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = '&quot;Support to Refugee Women&quot;';
const pageTitle = '&quot;Support to Refugee Women&quot;';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The goal of the project is to provide Afghan, Chechen and Tajik refugee women with services of Women Resource Center &quot;Dustee&quot;, including demand-driven training/ consulting and special seminars for refugee women, focusing on protecting their rights, reproductive health, preventing domestic violence as well as to provide Afghan children with educational courses. The project also focuses on building organizational capacity of WRC &quot;Dustee&quot; in order to extend service delivery to refugee women. Technical assistance in organizational development (OD) is designed to help the organization work through the specific problems that are restraining their movement to a higher level of development.</p>
          <p><strong>Technical assistance consists of the following three interrelated components:</strong>
          <ul>
          <li>Revising action plan on organizational development and service delivery, based on the strategic plan,</li>
          <li>building staff skills with emphasis on transferring knowledge in SME development, advocacy, etc., and</li>
          <li>assisting women refugee Center in developing democratic governance and extending membership. It is expected that resulted from the project, the new women refugee Center will expand service delivery and better advocate on behalf of refugee women.</li></ul></p>
</PageLayout>
