---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Legal Aid';
const pageTitle = 'Program 5: Legal Aid';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>The legal aid program is aimed at ensuring access of citizens to qualified legal assistance.</p>
  <p>Under the program, consultation centers operate where citizens can receive free legal advice on various issues.</p>
  <p>The organization also assists in drafting legal documents and represents citizens' interests in court.</p>
</PageLayout>
