---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'News';
const pageTitle = 'News';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><ul>
    <li>Mass-Media Contest in Jalalabat, <a href="mediacontest_en.html">more...</a></li>
    <br>
    <li>Press-conference &quot;Fostering of Human Rights Culture in KR&quot;, <a href="pressconf_en.html">more...</a></li>
    <br>
    <li><a href="../books/hr_pbda.pdf">PBD Association - HR barbeque</a></li>
        <br>
    <li>April 7, 8, 2008, ToT on Human Rights will take place in Jalalabat, <a href="totjal_en.html">more...</a></li>
    <br>
    <li>March 27, 28, 2008, ToT on Human Rights will take place in Bishkek, <a href="totbish_en.html">more...</a></li>
    <br>
    <li>National сonference on social partnership will take place in Bishkek in February 14, 2008, <a href="natconf_en.html">more…</a></li><br>
    <li>Round tables on the project... were conducted in Kant and Jalalabat cities in February 2008, <a href="roundtab_en.html">more...</a></li>
    </p>
</PageLayout>
