---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Public Association Counterpart-Sheriktesh';
const pageTitle = 'Public Association Counterpart-Sheriktesh';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Mass-Media Contest in Jalalabat</strong></p>
          <p>In August-July &quot;Women – Leaders of Jalalabat&quot; Association conducted a contest among mass-media of Jalalabat province within the framework of advocacy campaign &quot;Fostering of Human Rights Culture in KR&quot; The contest was announced on a <a href="pressconf_en.html">press-conference</a> and through province mass-media centre and newspapers.</p>
          <p><strong>The aim of the contest: Attraction of public attention to the problem of human trafficking, detection of law violation facts.</strong></p>
          <p>During the conference term there were many mass-media representatives and Jalalabat citizens, who were calling and coming to the office, to learn about the centre and women rights violations to participate in the contest.</p>
          <p>As a result of the contest we have got articles on problems of human trafficking in Kyrgyz, Uzbek and Russian languages. Local newspapers &quot;Akyikat&quot;, &quot;Jalalabat Tongi&quot;, &quot;Besplatnaya Gazeta&quot;, TV KRT (a short film about information meeting), ELTR (2 talk-shows), AKIpress participated in the contest.</p>
          <p>On September 2, the Association summarized the outcomes of the project, partner NGOs, Mass-media Centre, representatives of mayor’s office of Jalalabat participated in the awarding ceremony besides mass-media participants.</p>
          <p>Janybaeva Anarkhan – a correspondent of AKIpress and a journalist of republic newspaper &quot;Jany Kylym&quot; has got 2000 som and a commemorative present for the first place. She presented 3 articles and a short article, written for AKIpress.</p>
          <p>Mamitova Rano – a journalist and representative of local newspaper &quot;Jalalabat Tongi&quot; has got 1000 som and a commemorative present for the second place. She presented 3 big articles in Uzbek language.</p>
          <p>Postelnyak V.A. &quot;Besplantaya Gazeta&quot; and Murzaraimova G. &quot;Akyikat&quot; have got 500 som each and commemorative presents for the third place.</p>
</PageLayout>
