---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Public Association Counterpart-Sheriktesh';
const pageTitle = 'Public Association Counterpart-Sheriktesh';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Round tables on the project &quot;Establishment of the Educational and Legal Centers in Chui and Jalalabat Provinces of the Kyrgyz Republic&quot;</strong></p>
          <p>Round tables on the project, financed by the European Commission <a href="prog11_en.html">&quot;Establishment of the Educational and Legal Centers in Chui and Jalalabat Provinces of the Kyrgyz Republic&quot;</a>, have been conducted in Kant and Jalalabat cities. The main goal of the round tables was presentation of the project, its activity to wide public and stakeholders, and discussion of issues of human rights protection in regards to refugees, women and children, and victims of trafficking. Representatives of city and state administrations, NGOs, mass media, department of interior affairs, schools and committee on migration and employment, independent lawyers have participated in the round tables. Training needs of the project beneficiaries were determined during the meetings, as well as opinions and recommendation concerning project implementation  were accepted. Besides, the problems of human rights violations, labor migration, and domestic violence were discussed. Participants  were actively interesting in activity of the project,  information and services, which would be provided to all stakeholders in the framework of the  project .</p>
</PageLayout>
