---
import PageLayout from '../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Address and Phones';
const pageTitle = 'Address and Phones';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Public Association &quot;Counterpart-Sheriktesh&quot;</strong></p>
      <p>Address:</p>
      <p>720040, Kyrgyzstan, Bishkek ul. Abdrahmanova d. 204</p>
      <p>Tel: (+996 312) 66-21-88, 66-46-36, fax: (+996 312) 62-08-30</p>
      <p><img src="../pix/e-mail.gif" width="179" height="14"></p>
</PageLayout>
