---
import PageLayout from '../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Sitemap';
const pageTitle = 'Sitemap';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <a href="/en/">Home</a><br><br>
<a href="/en/news/">News</a><br><br>
<a href="/en/about/mission/">About Us</a><br>
&nbsp;&nbsp;<a href="/en/about/mission/">Mission</a><br>
&nbsp;&nbsp;<a href="/en/about/staff/">Staff</a><br>
&nbsp;&nbsp;<a href="/en/about/structure/">Structure</a><br>
&nbsp;&nbsp;<a href="/en/about/history/">History</a><br>
&nbsp;&nbsp;<a href="/en/about/activity/">Activities</a><br><br>
Programs<br>
&nbsp;&nbsp;Completed<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog1/">"Global Nutrition Program" Monitoring</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog2/">Delivery and Funding of Social Services</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog3/">Civic Participation in Constitutional Reform</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog4/">Community Empowerment Network</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog5/">Developing Sanitary and Hygiene in Rural Areas</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog6/">Ensuring Public Participation on Local Level</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog7/">Public Participation in Transboundary Water Management</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog8/">Stock Taking of Accountability Mechanisms</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog9/">Fostering Collaboration Between Government and CSOs (Stage 1)</a><br>
&nbsp;&nbsp;Current<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog10/">Local Integration Support Program</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog11/">Educational and Legal Centers in Chui and Jalalabat</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog12/">Collaboration Between Government and CSO (Stage 2)</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/programs/prog13/">Support to Refugee Women</a><br><br>
Partners & Donors<br>
&nbsp;&nbsp;<a href="/en/about/ec/">European Commission</a><br>
&nbsp;&nbsp;<a href="/en/about/unhcr/">UNHCR</a><br>
&nbsp;&nbsp;<a href="/en/about/akdn/">Aga Khan Development Network</a><br>
&nbsp;&nbsp;<a href="/en/about/localngo/">Local Partners</a><br><br>
Library<br>
&nbsp;&nbsp;<a href="/en/library/conventions/">Conventions</a><br>
&nbsp;&nbsp;<a href="/en/library/manuals/">Training Manuals</a><br>
&nbsp;&nbsp;<a href="/en/library/publications/">Our Publications</a><br><br>
Contact<br>
&nbsp;&nbsp;<a href="/en/contact/">Address and Phones</a><br>
&nbsp;&nbsp;<a href="/en/about/htf/">How to Find Us</a><br><br>
Gallery<br>
&nbsp;&nbsp;<a href="/en/gallery/1/">National Conference on Social Partnership</a><br>
&nbsp;&nbsp;<a href="/en/gallery/2/">ToT on Human Rights, Bishkek</a><br>
&nbsp;&nbsp;<a href="/en/gallery/3/">ToT on Human Rights, Jalalabat</a><br>
&nbsp;&nbsp;<a href="/en/gallery/5/">AKDN Project Working Group Meeting</a><br>
&nbsp;&nbsp;<a href="/en/gallery/4/">Final Round Table on AKDN Project</a><br>
</PageLayout>
