---
import PageLayout from '../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'Sitemap';
const pageTitle = 'Sitemap';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <ul>
    <li><a href="/en">Home</a></li>
    <li>
      About Us
      <ul>
        <li><a href="/en/about/mission">Mission</a></li>
        <li><a href="/en/about/activity">Activities and Services</a></li>
        <li><a href="/en/about/history">History</a></li>
        <li><a href="/en/about/structure">Structure</a></li>
        <li><a href="/en/about/staff">Staff</a></li>
        <li><a href="/en/about/akdn">AKDN</a></li>
        <li><a href="/en/about/ec">European Commission</a></li>
        <li><a href="/en/about/unhcr">UNHCR</a></li>
        <li><a href="/en/about/localngo">Local Partners</a></li>
        <li><a href="/en/about/htf">How to Find Us</a></li>
      </ul>
    </li>
    <li><a href="/en/news">News</a></li>
    <li>
      Programs
      <ul>
        <li><a href="/en/programs/prog1">"Global Nutrition Program" Monitoring</a></li>
        <li><a href="/en/programs/prog2">Delivery and Funding of Social Services</a></li>
        <li><a href="/en/programs/prog3">Civic Participation in Discussion of Draft "Amendments and Additions to the Constitution of the KR"</a></li>
        <li><a href="/en/programs/prog4">Community Empowerment Network</a></li>
        <li><a href="/en/programs/prog5">Developing Sanitary and Hygiene in Rural Areas</a></li>
        <li><a href="/en/programs/prog6">Ensuring Public Participation on Local Level</a></li>
        <li><a href="/en/programs/prog7">Public Participation in Transboundary Water Management of Talas and Chu Rivers</a></li>
        <li><a href="/en/programs/prog8">Stock Taking of Accountability Mechanisms in Eastern Europe and Central Asia</a></li>
        <li><a href="/en/programs/prog9">Fostering Strong and Effective Collaboration Between Government and CSOs in Kyrgyzstan (1st stage)</a></li>
        <li><a href="/en/programs/prog10">Local Integration Support Program</a></li>
        <li><a href="/en/programs/prog11">Establishment of the Educational and Legal Centres in Chui and Jalalabat Oblasts of the KR</a></li>
        <li><a href="/en/programs/prog12">Effective Collaboration Between Government and CSO in Kyrgyzstan (2nd Stage)</a></li>
        <li><a href="/en/programs/prog13">Support to Refugee Women</a></li>
      </ul>
    </li>
    <li>
      Library
      <ul>
        <li><a href="/en/library/conventions">Conventions</a></li>
        <li><a href="/en/library/manuals">Training Manuals</a></li>
        <li><a href="/en/library/publications">Our Publications</a></li>
      </ul>
    </li>
    <li>
      Gallery
      <ul>
        <li><a href="/en/gallery/1">National Conference on Social Partnership</a></li>
        <li><a href="/en/gallery/2">ToT on Human Rights, Bishkek</a></li>
        <li><a href="/en/gallery/3">ToT on Human Rights, Jalalabat</a></li>
        <li><a href="/en/gallery/4">Final Round Table on AKDN Project</a></li>
        <li><a href="/en/gallery/5">AKDN Project Working Group Meeting</a></li>
      </ul>
    </li>
    <li><a href="/en/contact">Contacts</a></li>
  </ul>
</PageLayout>
