---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'ToT on Human Rights, Bishkek';
const pageTitle = 'ToT on Human Rights, Bishkek';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <div class="gallery-grid">
      <img src="/assets/foto/wshop-bi1_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-bi2_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-bi3_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-bi4_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-bi_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-ja2_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-ja6_thumb.jpg" alt="">
      <img src="/assets/foto/agakhan_frt1_thumb.jpg" alt="">
  </div>
</PageLayout>
