---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'ToT on Human Rights, Jalalabat';
const pageTitle = 'ToT on Human Rights, Jalalabat';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <div class="gallery-grid">
    <img src="/assets/foto/field1.jpg" alt="Field visit 1" />
    <img src="/assets/foto/field2.jpg" alt="Field visit 2" />
    <img src="/assets/foto/field3.jpg" alt="Field visit 3" />
  </div>
</PageLayout>
