---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'AKDN Project Working Group Meeting';
const pageTitle = 'AKDN Project Working Group Meeting';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <div class="gallery-grid">
      <img src="/assets/foto/agakhan_wg1_thumb.jpg" alt="">
      <img src="/assets/foto/agakhan_wg2_thumb.jpg" alt="">
      <img src="/assets/foto/agakhan_wg3_thumb.jpg" alt="">
      <img src="/assets/foto/agakhan_wg4_thumb.jpg" alt="">
      <img src="/assets/foto/agakhan-conf5_thumb.jpg" alt="">
      <img src="/assets/foto/agakhan_frt2_thumb.jpg" alt="">
      <img src="/assets/foto/wshop-ja4_thumb.jpg" alt="">
  </div>
</PageLayout>
