---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Мониторинг прав человека';
const pageTitle = 'Программа 1: Мониторинг прав человека';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа мониторинга прав человека направлена на систематическое наблюдение, сбор и анализ информации о состоянии соблюдения прав человека в Кыргызской Республике.</p>
  <p>В рамках программы проводятся полевые исследования, интервью с пострадавшими, анализ законодательства и правоприменительной практики.</p>
  <p>Результаты мониторинга публикуются в виде ежегодных докладов и используются для адвокации улучшения ситуации с правами человека.</p>
</PageLayout>
