---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Развитие санитарии и гигиены в удалённых районах';
const pageTitle = 'Развитие санитарии и гигиены в удалённых районах';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Развитие санитарии и гигиены в сельской местности Кыргызстана</strong></p>
      <p>Реализация данного проекта осуществлялась в тесном партнерстве с консалтинговой компанией WS Atkins International, через которую Британский Департамент по Международному Развитию - основной донор - предоставлял финансирование. Общественное объединение &quot;Каунтерпарт-Шериктеш&quot; обеспечивало консультационную и административную поддержку проекта. Так, например, методология проведения совместной оценки потребностей сообществ была предложена ОО &quot;Каунтерпарт-Шериктеш&quot;.</p>
      <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Определение специфичных приоритетов для развития общин с помощью оценки с участием всей общины</li>
      <li>Повышение потенциала для проектов по планированию инфраструктуры</li>
      <li>Повышение потенциала и развитие инструментов реализации: обучение/образование</li>      </ul>
      </p>
</PageLayout>
