---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Миротворческие инициативы';
const pageTitle = 'Программа 12: Миротворческие инициативы';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Миротворческие инициативы направлены на предотвращение конфликтов и укрепление межэтнического согласия в Кыргызстане.</p>
  <p>Организация реализует проекты по медиации, построению диалога между различными группами населения, продвижению культуры мира и толерантности.</p>
  <p>Проводятся тренинги по мирному разрешению конфликтов, организуются межкультурные обмены и диалоговые площадки.</p>
</PageLayout>
