---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Критический анализ механизмов отчётности в Восточной Европе и Центральной Азии';
const pageTitle = 'Критический анализ механизмов отчётности в Восточной Европе и Центральной Азии';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Критический анализ механизмов отчетности в Восточной Европе и Центральной Азии</strong></p>
      <p>Объединенная команда, в которую входили: ОО &quot;Каунтерпарт-Шериктеш&quot;, казахские и таджикские НПО, группы по усилению сообществ и социального включения Института Всемирного Банка, группы по гражданскому участию и вовлечению (Отдел Социального развития), и тематическая группа по снижению бедности, децентрализации и экономическому управлению, вся эта сеть была собрана для того, чтобы провести исследование и критический анализ по всему региону об опыте работы с различными механизмами социальной подотчетности (как организаций гражданского общества, так и правительства) на низовом и национальном уровнях. 
Критический анализ был сфокусирован на тех механизмах социальной подотчетности, которые концентрируются на различных стадиях цикла управления общественных затрат – формулировка, анализ, расстановка приоритетов, отслеживание затрат и мониторинг.
</p>
      <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Предоставление опыта в области методологии социальной подотчетности европейскими и центрально-азиатскими странами, таким образом, создавая базу ключевых методов и инструментов для всего региона</li>
      <li>Создание сети практиков/профессионалов (индивидуумов и организаций) в регионе, кто может поделиться опытом и информацией по всей стране</li>
      <li>Кодификация лучших практик для дальнейшего развития практических примеров, основанных на критериях, определенных практиками в регионе</li></ul>
      </p>
</PageLayout>
