---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (2 стадия)';
const pageTitle = 'Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (2 стадия)';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>&quot;Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (2 стадия)</strong>&quot;</p>
      <p>Целью проекта является стимулирование сильного и эффективного сотрудничества между правительством и организациями гражданского общества в решении социальных и экономических проблем в Кыргызстане через распространение и использование лучших моделей, достижений и сильных сторон в совместной работе институтов гражданского общества с правительством, создание и повышение потенциала рабочих групп в целях развития новых более эффективных отношений, новых механизмов сотрудничества, принципов и инструментов, которые будут внедрены на уровне правительства и парламента.</p>
     <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Распространение и использование лучших моделей, достижений и сильных сторон в совместной работе институтов гражданского общества с правительством через демонстрацию примеров успешного сотрудничества и определение структурных барьеров и причин ограниченного партнёрства, которые должны быть устранены</li>
<li>Создание и повышение потенциала рабочих групп, состоящих из представителей правительства и гражданского общества для развития новых более эффективных рабочих отношений, которые будут управляться общественными организациями и министерствами</li>
<li>Проведение кампаний по активной публичной защите включая лоббирование механизмов для поддержки новых подходов, принципов и инструментов в сотрудничестве, которые будут совместно внедрены на уровне правительства и парламента</li>
</ul></p>
</PageLayout>
