---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Правовая помощь';
const pageTitle = 'Программа 5: Правовая помощь населению';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа оказания правовой помощи направлена на обеспечение доступа граждан к квалифицированной юридической помощи.</p>
  <p>В рамках программы работают консультационные пункты, где граждане могут получить бесплатную юридическую консультацию по различным вопросам.</p>
  <p>Организация также оказывает помощь в составлении правовых документов и представляет интересы граждан в судах.</p>
</PageLayout>
