---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Обеспечение участия общественности в принятии решений на местном уровне';
const pageTitle = 'Обеспечение участия общественности в принятии решений на местном уровне';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Целью проекта являлась институционализация процесса участия сельских общин и граждан на местном уровне в 2 пилотных районах. Консультации были разработаны таким образом, чтобы помочь сельским общинам и НПО проработать специфичные проблемы, которые мешают процессу участия. Техническая помощь состояла из взаимосвязанных компонентов:
      <ol>
      <li>Помощь сельским общинам и НПО в разработке представительских и партнёрских механизмов, и</li>
      <li>Построение потенциала местного эдвокаси и партнёрства.</li>
      </ol>
      </p>
      <p>Проект повысил вовлечённость общин и граждан в анализ основных вопросов общин, определение их приоритетности и определение методов и ресурсов для удовлетворения наиболее приоритетных нужд. В более широком смысле проект, в конечном счете, поддерживает административные реформы в Кыргызстане, направленные на децентрализацию, так как это подразумевает действенное и прямое участие самих граждан в процессах управления, и усиление их роли в решении проблем.</p>
      <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Определение специфичных приоритетов для развития общин с помощью оценки с участием всей общины</li>
      <li>Повышение потенциала и развитие инструментов реализации: обучение/образование</li>      </ul>
      </p>
</PageLayout>
