---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Защита прав женщин';
const pageTitle = 'Программа 4: Защита прав женщин';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа защиты прав женщин направлена на обеспечение гендерного равенства и защиту прав женщин в Кыргызстане.</p>
  <p>В рамках программы реализуются проекты по предотвращению гендерного насилия, поддержке женщин в трудной жизненной ситуации, повышению экономической независимости женщин.</p>
  <p>Организация проводит информационные кампании и образовательные мероприятия по вопросам гендерного равенства.</p>
</PageLayout>
