---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Образовательные программы';
const pageTitle = 'Программа 6: Образовательные программы';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Образовательные программы организации направлены на повышение уровня знаний и навыков различных групп населения.</p>
  <p>Проводятся тренинги, семинары, курсы повышения квалификации по широкому спектру тем, включая права человека, гражданское участие, лидерство и управление проектами.</p>
  <p>Образовательные программы адаптированы для различных целевых групп: молодежи, женщин, государственных служащих, представителей НПО.</p>
</PageLayout>
