---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Предоставление и оплата социальных услуг';
const pageTitle = 'Предоставление и оплата социальных услуг';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>&quot;Предоставление и финансирование социальных услуг&quot; (АБР)</strong></p>
      <p>Целью проекта является укрепление роли организаций общинного типа и гарантия их развития. Задачи проекта включали также организационную и административную поддержку организациям общинного типа и местным сообществам, рост общественной осведомленности о деятельности гражданского общества и предоставление консультаций/тренингов/семинаров представителям организаций общинного типа.</p>
      <p>На начальном этапе реализации проекта был проведен мониторинг и оценка социальных услуг, предоставляемых 45 организациям общинного типа со стороны государственных органов. Первоначально была получена информация / документация из государственных источников, параллельно шел сбор информации от самих бенефициариев путем проведения опроса и интервью относительно услуг, предоставляемых со стороны государства. Также во время исследования были применены индивидуальные интервью и фокус-группы с широким кругом респондентов.</p>
      <p>Далее в рамках деятельности по проекту и на основе данных проведенного исследования по мониторингу и оценке, организациям общинного типа оказывалась административная, информационная и организационная поддержка, а также был проведен цикл тренингов и выездных консультаций для представителей общин. В результате была проведена серия из более 60 тренингов для представителей организаций общинного типа в Жалалабатской области на различную тематику: Разработка проекта, стратегическое планирование, фандрейзинг, социальное партнерство, основы микробизнеса, реабилитация объектов социальной инфраструктуры и т.д. В рамках проекта, ЦПГО г. Жалалабат при поддержке ОО &quot;Каунтерпарт-Шериктеш&quot; организовал 24 тренинга для 1018 человек, представляющих 303 организации гражданского общества и 268 сельских управ. В ходе реализации проекта 13 некоммерческих организаций были официально зарегистрированы в областном управлении Министерства Юстиции, были созданы инициативные группы и 31 организация общинного типа. Участники тренинга разработали 20 проектов, и 10 проектов были поданы на рассмотрение таким донорским агентствам, как Посольство Нидерландов, Фонд Евразия и др.</p>
      <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Разработка и предоставление специализированного курса обучения для общинных организаций и сотрудников органов местного самоуправления на местном уровне</li>
      <li>Разработка и реализация стратегии обучения для местных тренеров</li>
      <li>Консультации по улучшению программы обучения</li>
      <li>Мониторинг и оценка программы обучения</li>
      </ul>
      </p>
</PageLayout>
