---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Молодежные программы';
const pageTitle = 'Программа 9: Молодежные программы';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Молодежные программы направлены на развитие потенциала молодых людей и их активное участие в общественной жизни.</p>
  <p>В рамках программы реализуются проекты по非формальному образованию, развитию лидерских качеств, волонтерству и гражданской активности молодежи.</p>
  <p>Организация создает площадки для диалога молодежи с представителями государственных органов и гражданского общества.</p>
</PageLayout>
