---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Юридическое просвещение';
const pageTitle = 'Программа 2: Юридическое просвещение населения';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа юридического просвещения направлена на повышение правовой грамотности населения Кыргызстана.</p>
  <p>В рамках программы проводятся семинары, тренинги, информационные кампании по различным аспектам законодательства, прав и обязанностей граждан.</p>
  <p>Особое внимание уделяется просвещению уязвимых групп населения и жителей отдаленных регионов.</p>
</PageLayout>
