---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Развитие гражданского общества';
const pageTitle = 'Программа 8: Развитие гражданского общества';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа развития гражданского общества направлена на укрепление институтов гражданского общества в Кыргызстане.</p>
  <p>Организация оказывает поддержку неправительственным организациям, инициативным группам и общественным активистам.</p>
  <p>Проводятся обучающие мероприятия, консультации, предоставляется методическая помощь в разработке и реализации социально значимых проектов.</p>
</PageLayout>
