---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Участие общественности в трансграничном управлении водными ресурсами рек Талас и Чуй';
const pageTitle = 'Участие общественности в трансграничном управлении водными ресурсами рек Талас и Чуй';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Участие общественности в управлении трансграничными водными ресурсами</strong></p>
      <p>Главная цель проекта – внедрение общественного участия в процесс принятия решений по вопросам управления трансграничными реками Чуй и Талас (Кыргызстан и Казахстан). ОО «Каунтерпарт-Шериктеш»и его организации/партнеры из Казахстана и Эстонии при поддержке ОБСЕ определили заинтересованные лица на самом низовом уровне в трансграничных регионах и конкретно по вопросу управления трансграничными реками Чуй и Талас.</p>
      <p>Задачи проекта:
      <ol>
      <li>определить основных заинтересованных лиц в трансграничном водном регионе по вопросам трансграничного управления водами рек Талас и Чуй,</li>
      <li>основываясь на том, что было определено помочь заинтересованным лицам в построении диалога друг с другом и повышении их потенциала во вступлении в дискуссию по вопросам управления трансграничными водными ресурсами с государственными органами в обоих республиках – Казахстан и Кыргызстан,</li>
      <li>содействовать повышению осведомлённости Комиссии и государственным структурам по управлению водными ресурсами в Кыргызстане и Казахстане о нуждах местных заинтересованных лиц по поводу управления водными ресурсами в регионе,</li>
      <li>через регулярные консультации с госструктурами в двух странах установить процедуру вовлечения заинтересованных лиц в процесс подготовки и реализации решений и действий по управлению водными ресурсами рек Талас и Чуй в приграничных районах и регулярные консультации и, когда необходимо, сотрудничество между госструктурами и заинтересованными лицами.</li></ol>
      </p>
      <p>На основе проведенной совместной оценки нужд и потребностей сообщества, международная команда помогла заинтересованным лицам в налаживании коммуникации друг с другом и в повышении их потенциала для соответствующего вовлечения в обсуждение вопросов трансграничного управления водными ресурсами с местными властями как Республики Казахстан, так и Кыргызской Республики.</p>
      <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Подготовка и редактирование базы данных местных заинтересованных лиц</li>
      <li>Определение нужд заинтересованных лиц и организация региональных встреч заинтересованных лиц</li>
      <li>Обучение и повышение потенциала местных заинтересованных лиц и членов Кыргызско-Казахской Комиссии</li></ul>
      </p>
</PageLayout>
