---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Мониторинг выборов';
const pageTitle = 'Программа 11: Мониторинг выборов';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа мониторинга выборов направлена на обеспечение свободных и справедливых выборов в Кыргызской Республике.</p>
  <p>Организация готовит независимых наблюдателей, проводит мониторинг избирательного процесса, анализирует соблюдение избирательных прав граждан.</p>
  <p>Результаты мониторинга публикуются в виде отчетов и рекомендаций по совершенствованию избирательного законодательства.</p>
</PageLayout>
