---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Экологические инициативы';
const pageTitle = 'Программа 7: Экологические инициативы';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа экологических инициатив направлена на защиту окружающей среды и продвижение принципов устойчивого развития в Кыргызстане.</p>
  <p>Организация проводит экологический мониторинг, реализует проекты по очистке территорий, озеленению, продвижению экологически ответственного поведения.</p>
  <p>Особое внимание уделяется вопросам экологической безопасности и влиянию промышленных объектов на здоровье населения.</p>
</PageLayout>
