---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Антикоррупционные инициативы';
const pageTitle = 'Программа 10: Антикоррупционные инициативы';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Антикоррупционные инициативы направлены на противодействие коррупции и повышение прозрачности деятельности государственных органов.</p>
  <p>Организация проводит мониторинг коррупционных рисков, осуществляет антикоррупционное просвещение, поддерживает журналистские расследования.</p>
  <p>Реализуются проекты по продвижению принципов открытости и подотчетности в государственном управлении.</p>
</PageLayout>
