---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Развитие сообществ';
const pageTitle = 'Программа 3: Развитие местных сообществ';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Программа развития местных сообществ направлена на поддержку инициатив граждан на местном уровне.</p>
  <p>Организация оказывает консультационную и методическую помощь местным сообществам в решении социально значимых проблем, развитии инфраструктуры и улучшении качества жизни.</p>
  <p>Программа способствует развитию самоуправления и гражданской активности на местном уровне.</p>
</PageLayout>
