---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (1 стадия)';
const pageTitle = 'Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (1 стадия)';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>&quot;Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (1 стадия)&quot;</strong></p>
      <p>Цель:<br> Публикация книги практических примеров «Партнерство и сотрудничество между Правительством и организациями гражданского общества в Кыргызстане» на трех языках (русском, английском и кыргызском).
</p>
<p>Описание проекта:<br>
ОО &quot;Каунтерпарт-Шериктеш&quot; опубликовало 500 экземпляров книги на русском, английском и кыргызском языках во время реализации проекта. В рамках Программы Ага Хана по Гражданскому Обществу были определены и собраны практические примеры успешного сотрудничества между правительством и организациями гражданского общества в Кыргызстане, которые и нашли отражение в опубликованной книге. 
Более чем 400 организаций, включая некоммерческие организации, ОМСУ и бизнес сообщества получили данную книгу.</p>
<p>Книга привлекла большой интерес читателей (представителей местных сообществ, ОГО и ОМСУ) в вопросах построения партнерства и его механизмов, и они дали положительный отклик на книгу.</p>
<p><strong>Цели исследования:</strong><br>
<ul>
<li>Собрать и проанализировать данные по партнёрским проектам и деятельности, которые были разработаны и реализованы на основе партнёрства между правительством и общественными организациями на местном и национальном уровне, чтобы исследовать, как партнёрские договорённости были разработаны и реализованы.</li>
<li>Определить хорошую практику в достижении партнёрства и факторы, которые имеют ключевое влияние на успешную реализацию партнёрства.</li></ul>
Исследование охватило все 7 областей Кыргызстана и столицу Бишкек. Найденные примеры и опыт, имеющие отношение к сотрудничеству между правительством и общественными организациями являются географическими и функционально-методологическими образцами.</p>
     <p><strong>Оказанные услуги:
      </strong>
      <ul>
      <li>Сборник примеров сотрудничества НПО с Правительством согласно рамкам структурного исследования</li>
<li>Книга &quot;кейс стадии&quot; со вступлением</li>
<li>Список ключевых заинтересованных лиц, кому должна быть послана книга</li>
<li>Широкое распространение и распределение книги на двух языках по всей стране</li></ul></p>
      <p>Рамки структурного исследования предоставлены созданием образцов примеров сотрудничества правительства с общественными организациями. Образцы (&quot;кейс стадии&quot;) должны содержать краткую и общую информацию, которая используется для выбора методологии и инструментов, на основе которых должен разрабатываться сборник &quot;кейс-стади&quot;.</p>
      <p>Некоторые категории &quot;кейс стадии&quot; могут включать:
      <ol>
      <li>основную информацию по агентствам, проводящим вмешательство в местный сектор;</li>
      <li>контекст и рамки, такие как движущая сила механизма сотрудничества, целевая аудитория или демографическая группа;</li>
      <li>используемые инструменты и методологии;</li>
      <li>результаты и воздействие; и</li>
      <li>другие модели.</li>
      </ol>
      </p>
</PageLayout>
