---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Общественное объединение "Каунтерпарт-Шериктеш"';
const pageTitle = 'Общественное объединение "Каунтерпарт-Шериктеш"';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Для выполнения своей миссии ОО "Каунтерпарт-Шериктеш" предоставляет услуги в следующих областях:</p>
      <p><strong>Организационное развитие</strong><br>
      ОО "Каунтерпарт-Шериктеш" оказывает техническую поддержку в организационном развитии с целью оказания помощи клиентам в решении выявленных проблем, ограничивающих эффективность их деятельности. Такие проблемы требуют участия квалифицированных специалистов, работающих с организацией в течение продолжительного периода времени.</p>
      <p><strong>Тренинговые программы/исследования</strong><br>
      Тренинги являются эффективным инструментом в процессе повышения потенциала субъектов гражданского общества. ОО "Каунтерпарт-Шериктеш" уделяет особое внимание обучению представителей НКО навыкам защиты интересов и мобилизации общин для осуществления социально - значимых проектов.
      </p>
      <p><strong>Представительские/Контрактные Услуги</strong><br>
      ОО "Каунтерпарт-Шериктеш" может выполнять представительские функции для международных организаций, не имеющих представительства на местах через администрирование грантовых программ и предоставление информации об их деятельности, оказание технической помощи и осуществление мониторинга и оценки грантов.</p>
      <p><strong>Информационная поддержка</strong><br>
      ОО "Каунтерпарт-Шериктеш" оказывает информационную поддержку ЦПГО и ключевым НКО, которые доносят предоставленную информацию о грантовых, образовательных программах до бенефициариев.
      </p>
      <p><strong>Социальное партнерство</strong><br>
      ОО "Каунтерпарт-Шериктеш" содействует установлению межсекторального партнерства в целях устойчивого развития третьего сектора и страны в целом. Партнерские связи облегчают НКО доступ к знаниям и навыкам; инновационным и проверенным методологиям; воспроизводимым моделям для удовлетворения потребностей местных общин и совместному управлению ресурсами; различным моделям организационного управления и руководства; стратегиям по защите и продвижению прав и интересов НКО.
      </p>
      <p><strong>Эдвокаси/Кампании/Создание Коалиций</strong><br>
      ОО "Каунтерпарт-Шериктеш" способствует приобретению навыков защиты и продвижения идей по внесению позитивных изменений в интересах наиболее уязвимых слоев населения, включая навыки общественного просвещения и проведения диалога с органами власти. Приоритетом пользуются проекты и инициативы, направленные на повышение уровня гражданского участия в принятии решений.
      </p>
      <p><strong>Волонтерство</strong><br>
      ОО "Каунтерпарт-Шериктеш" содействует созданию и развитию сети волонтерских центров с целью продвижения философии волонтерства. Немаловажным компонентом программы развития волонтерства является привлечение волонтеров для выполнения проектной деятельности организации.
      </p>
      <p><strong>Социальная мобилизация</strong><br>
      ОО "Каунтерпарт-Шериктеш" продвигает концепцию развития самостоятельности сообществ, основанную на применении подходов совместного участия. Тем самым оно способствует поддержке общинных инициатив посредством наращивания потенциала сети общин, координации общих усилий организаций, осуществляющих свою деятельность в сфере общинного развития.
      </p>
      <p><strong>Права человека</strong><br>
      Направление по правам человека сфокусировано на предоставлении знаний в области международных и национальных законов, конвенций по правам человека, их продвижения и защиты, также как и механизмов и процедур их внедрения, для того чтобы укрепить уважение к правам человека. Знания в области прав человека помогают организациям гражданского общества и получателям действовать и вносить вклад в улучшение ситуации в области прав человека в стране.</p>
      <p>Таким образом, стратегия ОО "Каунтерпарт-Шериктеш" по наращиванию потенциала субъектов гражданского общества представляет интегрированный пакет услуг, предназначенный для некоммерческих организаций, организаций общественного типа и других организаций гражданского общества.</p>
</PageLayout>
