---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Европейская Комиссия';
const pageTitle = 'Европейская Комиссия';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Представительство  Европейской Комиссии в Кыргызской Республике</strong></p>
          <p>Европейский союз (ЕС)  представлен в Кыргызской Республике Региональной Делегацией Европейской  Комиссии, возглавляемой Поверенным в Делах, при этом Глава Делегации в Алматы  имеет аккредитации одновременно в Республике Казахстан, Кыргызской Республике и  Республике Таджикистан.</p>
          <p>ЕС оказывает помощь  Кыргызской Республике в проведении политических и экономических реформ со  времени обретения независимости Кыргызской Республикой в 1991 году. ЕС и  Кыргызская Республика проявляют взаимный интерес к укреплению двусторонних  отношений. С 1999 года правовой основой двусторонних отношений между ЕС и  Кыргызской Республикой являлось Соглашение о Партнерстве и Сотрудничестве  (СПС). Данный документ&nbsp; является двусторонним соглашением, отражающим  полный спектр отношений между Европейским Сообществом и Кыргызской Республикой,  включая политическое и экономическое сотрудничество. Цель Соглашения о  Партнерстве и Сотрудничестве состоит в оказании помощи Кыргызской Республике в  переходе к рыночной экономике и установлении более тесных отношений с  европейскими странами.</p>
          <p>За дополнительной информацией, пожалуйста, обращайтесь на <a href="http://ec.europa.eu/" target="_blank">официальный сайт Европейской Комиссии</a>.</p>
</PageLayout>
