---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'История';
const pageTitle = 'История';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>История:</strong></p>
          <p>С момента своего образования в 2002 г., Общественное объединение &quot;Каунтерпарт-Шериктеш&quot; начало налаживать партнерские взаимоотношения с рядом некоммерческих организаций и государственных структур. В результате, деятельность ОО &quot;Каунтерпарт-Шериктеш&quot; велась по нескольким стратегически важным направлениям на национальном уровне. Так, например, штат ОО &quot;Каунтерпарт-Шериктеш&quot; разработал два раздела Национальной Стратегии по Сокращению Бедности (НССБ) Кыргызской Республики. Данные разделы посвящены процедурам широкого участия и роли некоммерческих организаций в процессе выполнения НССБ, тем самым были заложены основы для совместного участия НКО и государственных структур в ее реализации.</p>
          <p>ОО &quot;Каунтерпарт-Шериктеш&quot; приняло непосредственное участие в обсуждении конституционной реформы: в рамках проекта Фонда &quot;Сорос-Кыргызстан&quot; ОО &quot;Каунтерпарт-Шериктеш&quot;, Ассоциацией ЦПГО и Ассоциацией юристов Кыргызстана были проведены круглые столы и организована конференция с целью обсуждения и внесения поправок и изменений в Конституцию КР.  В результате налаживания контактов с такими организациями как Азиатский Банк Развития, Институт Всемирного Банка, ОБСЕ и Агентство по сельскохозяйственному развитию США было реализовано 6 проектов, направленных на усиление потенциала некоммерческих организаций, в том числе и в сельской местности.</p>
          <p>Общественное объединение &quot;Каунтерпарт-Шериктеш&quot; является одним из учредителей Агентства Развития и Инвестирования Сообществ Кыргызской Республики (АРИС) наравне с Администрацией Президента Кыргызской Республики и Объединением юридических лиц &quot;Ассоциация органов местного самоуправления сёл и посёлков Кыргызской Республики&quot;.<br>
            Также ОО &quot;Каунтерпарт-Шериктеш&quot; было одним из учредителей &quot;Ассоциации Центров Поддержки Гражданского Общества&quot;. Основной целью создания Ассоциации является содействие развитию гражданского общества в Кыргызской Республике через усиление организационного потенциала и финансовой устойчивости Центров Поддержки Гражданского Общества, продвижения их интересов, формирования благоприятной среды для предоставления ими качественных услуг субъектам гражданского общества.              </p>
          </p>
</PageLayout>
