---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'История';
const pageTitle = 'История';
const description = 'История Общественного объединения Каунтерпарт-Шериктеш с момента основания в 2002 году';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle} description={description}>
  <p><strong>История:</strong></p>
          <p>С момента своего образования в 2002 г., Общественное объединение "Каунтерпарт-Шериктеш" начало налаживать партнерские взаимоотношения с рядом некоммерческих организаций и государственных структур. В результате, деятельность ОО "Каунтерпарт-Шериктеш" велась по нескольким стратегически важным направлениям на национальном уровне. Так, например, штат ОО "Каунтерпарт-Шериктеш" разработал два раздела Национальной Стратегии по Сокращению Бедности (НССБ) Кыргызской Республики. Данные разделы посвящены процедурам широкого участия и роли некоммерческих организаций в процессе выполнения НССБ, тем самым были заложены основы для совместного участия НКО и государственных структур в ее реализации.</p>
          <p>ОО "Каунтерпарт-Шериктеш" приняло непосредственное участие в обсуждении конституционной реформы: в рамках проекта Фонда "Сорос-Кыргызстан" ОО "Каунтерпарт-Шериктеш", Ассоциацией ЦПГО и Ассоциацией юристов Кыргызстана были проведены круглые столы и организована конференция с целью обсуждения и внесения поправок и изменений в Конституцию КР.  В результате налаживания контактов с такими организациями как Азиатский Банк Развития, Институт Всемирного Банка, ОБСЕ и Агентство по сельскохозяйственному развитию США было реализовано 6 проектов, направленных на усиление потенциала некоммерческих организаций, в том числе и в сельской местности.</p>
          <p>Общественное объединение "Каунтерпарт-Шериктеш" является одним из учредителей Агентства Развития и Инвестирования Сообществ Кыргызской Республики (АРИС) наравне с Администрацией Президента Кыргызской Республики и Объединением юридических лиц "Ассоциация органов местного самоуправления сёл и посёлков Кыргызской Республики".<br>
            Также ОО "Каунтерпарт-Шериктеш" было одним из учредителей "Ассоциации Центров Поддержки Гражданского Общества". Основной целью создания Ассоциации является содействие развитию гражданского общества в Кыргызской Республике через усиление организационного потенциала и финансовой устойчивости Центров Поддержки Гражданского Общества, продвижения их интересов, формирования благоприятной среды для предоставления ими качественных услуг субъектам гражданского общества.              </p>
          </p>
</PageLayout>
