---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Как доехать';
const pageTitle = 'Как доехать';
const description = 'Адрес и схема проезда к офису ОО Каунтерпарт-Шериктеш в Бишкеке';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle} description={description}>
  <p><img src="/assets/pix/map_ru.gif" width="721" height="554"></p>
</PageLayout>
