---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'How to Find Us';
const pageTitle = 'How to Find Us';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><img src="/assets/pix/map_ru.gif" width="721" height="554"></p>
</PageLayout>
