---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Штат';
const pageTitle = 'Штат организации';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Штат Общественного объединения «Каунтерпарт-Шериктеш» состоит из квалифицированных специалистов в области прав человека, юриспруденции, экологии, социологии и управления проектами.</p>

  <h2>Руководство</h2>
  <p>Исполнительный директор и руководители программных отделов обеспечивают стратегическое и оперативное управление деятельностью организации.</p>

  <h2>Сотрудники</h2>
  <p>В организации работают юристы, эксперты по мониторингу, тренеры, координаторы проектов, специалисты по связям с общественностью и административный персонал. Многие сотрудники имеют многолетний опыт работы в правозащитной сфере и прошли специализированное обучение.</p>

  <p>Организация также привлекает внешних экспертов и консультантов для реализации отдельных проектов и программ.</p>
</PageLayout>
