---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Структура';
const pageTitle = 'Структура';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Организационная структура ОО &quot;Каунтерпарт-Шериктеш&quot;</strong></p>
        <p>&nbsp;</p>
        <p><img src="../foto/structure_ru.gif" width="671" height="481"></p>
</PageLayout>
