---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'UNHCR';
const pageTitle = 'UNHCR';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Управление Верховного Комиссара ООН по делам  беженцев было образовано 14 декабря 1950 года Генеральной Ассамблеей ООН.  Агентство уполномочено вести и координировать международную деятельность по  защите беженцев и решению проблем беженцев по всему миру. Его главной целью  является защита прав и благополучия беженцев. Оно пытается гарантировать, чтобы  каждый имел возможность использовать право на поиск убежища и находить  безопасное прибежище в другом государстве, с возможностью добровольного  возвращения домой, местной интеграции или переселения в третью страну.</p>
          <p>За более чем пять десятилетий, агентство  помогло, согласно подсчётам, 50 миллионам людей начать свои жизни заново. Сегодня  штат, состоящий из около 6300 людей, продолжает помогать 32,9 миллионам людей в  110 странах мира.</p>
          <p>За дополнительной информацией, пожалуйста, обращайтесь на <a href="http://www.unhcr.org/" target="_blank">официальный сайт УВКБ ООН</a>.</p>
</PageLayout>
