---
import PageLayout from '../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Адрес и телефоны';
const pageTitle = 'Адрес и телефоны';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p><strong>Общественное Объединение &quot;Каунтерпарт-Шериктеш&quot;</strong></p>
      <p>Адрес:</p>
      <p>720040, Кыргызстан г. Бишкек ул. Абдрахманова д. 204</p>
      <p>Тел: (+996 312) 66-21-88, 66-46-36, факс: (+996 312) 62-08-30</p>
      <p><img src="../pix/e-mail.gif" width="179" height="14"></p>
</PageLayout>
