---
import PageLayout from '../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Sitemap';
const pageTitle = 'Sitemap';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <a href="/ru/">Домой</a>
          
          
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          <a href="/ru/ews_ru.html">Новости</a>
          
          
          
          
        
        
          
          
          <a href="/ru/ap_ru.html">Карта сайта</a>
          
          
          
          
        
        
          
          
          <a href="/ru/ndex_en.html">English</a>
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          О нас
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          <a href="/ru/ission_ru.html">Миссия</a>
          
          
        
        
          
          
          
          
          <a href="/ru/taff_ru.html">Сотрудники</a>
          
          
        
        
          
          
          
          
          <a href="/ru/tructure_ru.html">Структура</a>
          
          
        
        
          
          
          
          
          <a href="/ru/istory_ru.html">История</a>
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          <a href="/ru/ctivity_ru.html">Деятельность</a>
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          Программы
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          Реализованные
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          
          
          <a href="/ru/rog1_ru.html">Мониторинг программы &quot;Всемирное питание&quot;</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog2_ru.html">Предоставление и оплата социальных услуг</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog3_ru.html">Участие общественности в обсуждении проекта &quot;Исправления и добавления в Конституцию Кыргызской Республики&quot;</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog4_ru.html">Сеть по усилению общин</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog5_ru.html">Развитие санитарии и гигиены в удалённых районах</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog6_ru.html">Обеспечение участия общественности в принятии решений на местном уровне</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog7_ru.html">Участие общественности в трансграничном управлении водными ресурсами рек Талас и Чуй</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog8_ru.html">Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (1 стадия)</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog9_ru.html">Критический анализ механизмов отчётности в Восточной Европе и Центральной Азии</a>
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          Текущие
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          
          
          <a href="/ru/rog10_ru.html">&quot;Программа поддержки местной интеграции&quot;</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog11_ru.html">Организация образовательных и юридических центров в Чуйской и Жалалабатской областях Кыргызской Республики</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog12_ru.html">Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (2 стадия)</a>
        
        
          
          
          
          
          
          
          <a href="/ru/rog13_ru.html">&quot;Поддержка женщин-беженок&quot;</a>
        
        
          
          
          
          
          
          
          
        
        
          
          
          Партнёры
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          Доноры
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          
          
          <a href="/ru/c_ru.html">Европейская Комиссия</a>
        
        
          
          
          
          
          
          
          <a href="/ru/nhcr_ru.html">УВКБ ООН</a>
        
        
          
          
          
          
          
          
          <a href="/ru/kdn_ru.html">Сеть по Развитию Фонда Ага Хана</a>
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          <a href="/ru/ocalngo_ru.html">Местные партнёры</a>
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          Библиотека
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          <a href="/ru/onventions_ru.html">Конвенции</a>
          
          
        
        
          
          
          
          
          <a href="/ru/anuals_ru.html">Обучающие пособия</a>
          
          
        
        
          
          
          
          
          <a href="/ru/ublications_ru.html">Наши публикации</a>
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          Контакты
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          <a href="/ru/ddress_ru.html">Адрес и телефоны</a>
          
          
        
        
          
          
          
          
          <a href="/ru/tf_ru.html">Как доехать</a>
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          Галерея
          
          
          
          
        
        
          
          
          
          
          
          
          
        
        
          
          
          
          
          <a href="/ru/allery1_ru.html">Национальная конференция по социальному партнёрству</a>
          
          
        
        
          
          
          
          
          <a href="/ru/allery2_ru.html">ToT по правам человека, Бишкек</a>
          
          
        
        
          
          
          
          
          <a href="/ru/allery3_ru.html">ToT по правам человека, Жалалабат</a>
          
          
        
        
          
          
          
          
          <a href="/ru/allery5_ru.html">Заседание рабочей группы по проекту АКДН</a>
          
          
        
        
          
          
          
          
          <a href="/ru/allery4_ru.html">Заключительный круглый стол по проекту АКДН</a>
</PageLayout>
