---
import PageLayout from '../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Карта сайта';
const pageTitle = 'Карта сайта';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <ul>
    <li><a href="/ru">Главная</a></li>
    <li>
      О нас
      <ul>
        <li><a href="/ru/about/mission">Миссия</a></li>
        <li><a href="/ru/about/activity">Деятельность</a></li>
        <li><a href="/ru/about/history">История</a></li>
        <li><a href="/ru/about/structure">Структура</a></li>
        <li><a href="/ru/about/staff">Штат</a></li>
        <li><a href="/ru/about/akdn">АКДН</a></li>
        <li><a href="/ru/about/ec">Европейская Комиссия</a></li>
        <li><a href="/ru/about/unhcr">УВКБ ООН</a></li>
        <li><a href="/ru/about/localngo">Местные партнёры</a></li>
        <li><a href="/ru/about/htf">Как доехать</a></li>
      </ul>
    </li>
    <li><a href="/ru/news">Новости</a></li>
    <li>
      Программы
      <ul>
        <li><a href="/ru/programs/prog1">Мониторинг программы "Всемирное питание"</a></li>
        <li><a href="/ru/programs/prog2">Предоставление и оплата социальных услуг</a></li>
        <li><a href="/ru/programs/prog3">Участие общественности в обсуждении проекта "Исправления и добавления в Конституцию КР"</a></li>
        <li><a href="/ru/programs/prog4">Сеть по усилению общин</a></li>
        <li><a href="/ru/programs/prog5">Развитие санитарии и гигиены в удалённых районах</a></li>
        <li><a href="/ru/programs/prog6">Обеспечение участия общественности в принятии решений на местном уровне</a></li>
        <li><a href="/ru/programs/prog7">Участие общественности в трансграничном управлении водными ресурсами рек Талас и Чуй</a></li>
        <li><a href="/ru/programs/prog8">Критический анализ механизмов отчётности в Восточной Европе и Центральной Азии</a></li>
        <li><a href="/ru/programs/prog9">Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (1 стадия)</a></li>
        <li><a href="/ru/programs/prog10">Программа поддержки местной интеграции</a></li>
        <li><a href="/ru/programs/prog11">Организация образовательного и юридического центров в Чуйской и Жалалабатской областях КР</a></li>
        <li><a href="/ru/programs/prog12">Усиление эффективного сотрудничества между правительством и общественными организациями в Кыргызстане (2 стадия)</a></li>
        <li><a href="/ru/programs/prog13">Поддержка женщин-беженок</a></li>
      </ul>
    </li>
    <li>
      Библиотека
      <ul>
        <li><a href="/ru/library/conventions">Конвенции</a></li>
        <li><a href="/ru/library/manuals">Обучающие пособия</a></li>
        <li><a href="/ru/library/publications">Наши публикации</a></li>
      </ul>
    </li>
    <li>
      Фотогалереи
      <ul>
        <li><a href="/ru/gallery/1">Национальная конференция по социальному партнёрству</a></li>
        <li><a href="/ru/gallery/2">ToT по правам человека, Бишкек</a></li>
        <li><a href="/ru/gallery/3">ToT по правам человека, Жалалабат</a></li>
        <li><a href="/ru/gallery/4">Заключительный круглый стол по проекту АКДН</a></li>
        <li><a href="/ru/gallery/5">Заседание рабочей группы по проекту АКДН</a></li>
      </ul>
    </li>
    <li><a href="/ru/contact">Контакты</a></li>
  </ul>
</PageLayout>
