---
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'ru';
const title = 'Конвенции';
const pageTitle = 'Конвенции';
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle}>
  <p>Международные конвенции и договоры по правам человека:</p>

  <ul>
    <li><a href="/documents/udhr_ru.pdf" target="_blank">Всеобщая декларация прав человека</a> (PDF)</li>
    <li><a href="/documents/echr_ru.pdf" target="_blank">Европейская Конвенция по правам человека</a> (PDF)</li>
    <li><a href="/documents/ecosoc_ru.pdf" target="_blank">Международный пакт об экономических, социальных и культурных правах</a> (PDF)</li>
    <li><a href="/documents/cedaw_ru.pdf" target="_blank">Конвенция о ликвидации всех форм дискриминации в отношении женщин (CEDAW)</a> (PDF)</li>
    <li><a href="/documents/crc_ru.pdf" target="_blank">Конвенция о правах ребенка</a> (PDF)</li>
  </ul>
</PageLayout>
